// Color 
$black-0: #000;
$black-1: #191919;

$white-0: #fff;
$white-1: #f5f5f5;

$green-1: #1d7a85; 

$grey-1: #aeaeaf;

$yellow-1: #facc15;
// Font size
$fs-1: 14px;
$fs-2: 16px;
$fs-3: 18px;

// Padding
$pd-1: 5px;
$pd-2: 10px;
$pd-3: 16px;

// Margin 

// Border radius
$br-1: 4px;

// Responsive breakpoints 
$breakpoints: (
    sm: 640px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
    2xl: 1536px  
);