// Color 
$black-0: #000;
$black-1: #191919;

$white-1: #fff;
$white-2: #f5f5f5;

$green-1: #1d7a85; 

$grey-1: #aeaeaf;

$yellow-1: #facc15;
// Font size
$fs-1: 14px;
$fs-2: 16px;
$fs-3: 18px;

// Padding
$pd-1: 5px;
$pd-2: 10px;
$pd-3: 16px;

// Margin 

// Border radius
$br-1: 4px;

// break points - desktop first
$breakpoints: (
    2xl: 1399.98px,
    xl: 1199.98px,
    lg: 991.98px,
    md: 767.98px,
    sm: 575.98px
);